<div id="nav_area">
  <h1 id="title">Citation Visualizer</h1>
  <ul id="nav_bar">
    <li>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Help</a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://angular.io/cli">About</a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Feedback</a>
    </li>
  </ul>
</div>

<div id="search_area">
  <h1>Input DOI</h1>
  <p>Example: 10.1038/nphys1170</p>
  <!-- <button class="search_area_button" (click)="print_debug()">Debug</button> -->
  <div id="search_bar">
    <input id="search_bar_input" type="text" name="queryMetadata" value="10.1038/nphys1170" #queryMetadata>
    <button id="starting_search_button" class="search_area_button" (click)="doSearch(queryMetadata)" 
    *ngIf="!get_data_status()"><i class="fas fa-search"></i></button>
    <button class="search_area_button" 
    (click)="plot_graph(mainDataOption, sortingOption, nodesOption, colorOption, seed.value)" 
    *ngIf="get_data_status()"> <i class="fas fa-drafting-compass"></i></button>
  </div>
</div>

<div id="main_area">
  <div id="results_area" class="main_area_item">
    <div id="filter_area">
      <h4>Filter</h4>
      <input id="filter_bar" type="text" name="filterKeyword" (keyup)="onKey($event)">
      <h4 *ngIf="content_ready">{{statistic}}</h4>
    </div>
    <div id="results">
      <h4>Grouping Results</h4>
      <div class="results_list" *ngIf="content_ready">
        <div class="results_item" *ngFor="let key of current_grouping_key">
          <mat-expansion-panel *ngIf="check_group_display_permission(key)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{key}}<span class="dot" [style.background-color]="current_group_legend[key].color"></span>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <button class="result_item_group" (click)="select_group_node(key)">Select all</button>
            <mat-list class="results_mat_list" role="list" *ngIf="content_ready">
              <mat-list-item class="result_mat_list_item" *ngFor="let DOI of get_grouping_result(key)">
                <button class="result_item_item" (click)="select_node(DOI)" *ngIf="get_display_permission(DOI)" 
                matTooltip="Click to focus">{{DOI}}</button>
                <button class="result_item_item" (click)="open_new_tab(DOI)" *ngIf="get_display_permission(DOI)"
                matTooltip="Click to open DOI in new tab"><i class="fas fa-book-open"></i></button>
                <button class="result_item_item" *ngIf="get_display_permission(DOI)" matTooltip="Copy DOI to clipboard"
                ngxClipboard [cbContent]="DOI"><i class="fas fa-copy"></i></button>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </div>
      </div>
      
      <div id="author_results">
        <h4>Author Results</h4>
        <mat-list class="results_mat_list" role="list" *ngIf="content_ready">
          <mat-list-item class="result_mat_list_item" *ngFor="let author_name of get_author_results()">
            <button class="result_item_item" (click)="author_click(author_name)">{{author_name}}</button>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div id="graph_area" class="main_area_item">
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" (selectedTabChange)="updateTab()">
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        <ng-template mat-tab-label>
          {{tab}}
          <button mat-raised-button class="delete-tab-button" 
            *ngIf="tab != 'mynetwork'"
            [disabled]="tabs.length === 1" 
            (click)="removeTab(index)">
            <i class="fas fa-window-close"></i>
            </button>
        </ng-template>
          <!-- <button mat-raised-button class="example-delete-tab-button" 
            *ngIf="tab != 'mynetwork'"
            [disabled]="tabs.length === 1" 
            (click)="removeTab(index)">
            x
          </button> -->
        <div [id]="tab" class="network"></div>
      </mat-tab>
    </mat-tab-group>
    
  </div>
  <div id="options_area" class="main_area_item">
    <h3>Options</h3>

    <div class="option">
      <h4 class="option_heading">Main Data</h4>
      <mat-form-field>
        <mat-label>Nodes represent</mat-label>
        <mat-select [(value)] = "mainDataOption">
          <mat-option *ngFor="let option of mainDataOptions" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="option">
      <h4 class="option_heading">Data Grouping</h4>
      <mat-form-field>
        <mat-label>Group data according to </mat-label>
        <mat-select [(value)] = "sortingOption">
          <mat-option *ngFor="let option of dataSortingOptions" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="option">
      <h4 class="option_heading">Number Of Nodes</h4>
      <mat-form-field>
        <mat-label>Number of nodes </mat-label>
        <mat-select [(value)]="nodesOption">
          <mat-option *ngFor="let option of noOfNodes" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- <div class="option">
      <h4 class="option_heading">Color</h4>
      <mat-form-field>
        <mat-label>Styling for graph</mat-label>
        <mat-select [(value)]="colorOption">
          <mat-option *ngFor="let option of colorOptions" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <div class="option">
      <h4 class="option_heading">Import Seed</h4>
      <input id="seed_input" type="text" name="seed" #seed>
    </div>
<!--  *ngIf="content_ready" -->
    <div class="option" *ngIf="content_ready">
      <h4 class="option_heading">Export Seed</h4>
      <div id="export_seed">
        <button (click)="export_seed()">Click to export</button>
        <p>Seed: {{get_seed()}}</p>
      </div>
    </div>
  </div>
</div>

<div id="analyser_area">
  <h3>Analyser</h3>
  <div id="time_slider_area" class="analyser_item">
    <h4>Time Machine</h4>
    <mat-slider id="time_slider" thumbLabel [displayWith]="sliderValue" (change)="sliderUpdateGraph($event)" min={{slider_min}} 
    max={{slider_max}}  step={{slider_step}}  value={{slider_value}} ></mat-slider>
  </div>
  <div id="sphere_area" class="analyser_item">
    <h4>Sphere of influence</h4>
    <input id="sphere_input" type="text" name="sphere_input" value="10.1210/edrv-16-1-3" #sphere_input>
    <button class="analyser_button" (click)="sphere_influence(sphere_input.value)">Apply</button>
  </div>
  <div id="connection_area" class="analyser_item">
    <h4>Find connection</h4>
    Between
    <input id="connection_input_1" type="text" name="connection_input_1" value="10.1038/nphys1170" #connection_input_1>
    and
    <input id="connection_input_2" type="text" name="connection_input_2" value="10.1088/1674-1056/22/6/060302" #connection_input_2>
    <button class="analyser_button" (click)="find_connection(connection_input_1.value, connection_input_2.value)">Find</button>
  </div>
  <div id="2d_graph_area" class="analyser_item">
    <h4>Plot 2d graph</h4>
    x:
    <mat-form-field>
      <mat-label>Data for x axis</mat-label>
      <mat-select [(value)]="graphOption_2d_x">
        <mat-option *ngFor="let option of graphOptions_2d" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    y:
    <mat-form-field>
      <mat-label>Data for y axis</mat-label>
      <mat-select [(value)]="graphOption_2d_y">
        <mat-option *ngFor="let option of graphOptions_2d" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="analyser_button" (click)="plot_2d()">Plot</button>
  </div>
</div>

<div id="import_export_area">
  <h3>Import and Export</h3>
  <textarea id="import_export_textarea" [(value)]="textArea" name="input_text" #input_text></textarea>
  <button (click)="import_data(input_text.value)">Import</button>
  <button (click)="export_data()">Export</button>
</div>
<!-- 
<button class="result_item_item" ><i class="fas fa-copy"></i></button> -->
<mat-tab-group>
  <mat-tab label="Tab 1">Tab 1 Content</mat-tab>
  <mat-tab label="Tab 2">Tab 2 Content</mat-tab>
  <mat-tab disabled>
    <ng-template mat-tab-label>
      hello
    </ng-template>
  </mat-tab>
</mat-tab-group>