/* C8C8C8 */
/* 3F51B5 */
/* F2F2F2 */
/* 3F51B5 */
/* #3F51B5 */
body {
    background-color: #C8C8C8;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Main */
#main_area {
    display: flex;
    max-height: 750px;
}
  
.main_area_item {
    border: 1px solid lightgray;
    background-color: #3F51B5;
}
  
#results_area, #options_area {
    width: 20%;
    max-width: 20%;
    margin: 20px;
    resize: none;
    overflow-y: scroll;
}

/* Graph related */
#graph_area {
    width: 70%;
    height: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.network {
    margin: auto;
    width: auto;
    height: 100%;
    background-color: white;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px; 
}

/* Search related */
#search_area {
    text-align: center;
}
  
#search_bar {
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    border-radius: 30px;
    display: inline-block;
    background-color: white;
    margin: 10px auto;
}
  
#search_bar_input {
    width: 700px;
    border: none;
    margin-left: 10px;
    height: 35px;
    font-size: 1.1em;
}

/* Navigation bar */
#nav_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3F51B5;
    border-bottom: 0.1px solid white;
}
  
#nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}
  
#nav_bar li {
    list-style-type: none;
    align-content: center;
    display: inline-block;
}
  
#nav_bar li a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}
  
#title {
    color: white;
    padding-left: 20px;
    margin: 10px;
}

/* Result area */
#results {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

#filter_area {
    background-color: white;
    margin: 10px;
    padding: 10px;
    padding-top: 3px;
}

.results_list {
    overflow-y: scroll;
    max-height: 500px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.result_item_group {
    background: white;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.result_item_group:hover {
    font-size: 1.2em;
}

.result_item_item {
    background: white;
    border: none;
    font-family: 'Ubuntu', sans-serif;
}

.result_item_item:hover {
    font-weight: bold;
}

.results_mat_list {
    overflow: scroll;
    max-height: 300px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.results_list::-webkit-scrollbar {
    display: none;
}

.results_mat_list::-webkit-scrollbar {
    display: none;
}

.result_mat_list_item {
    overflow: wrap;
}

/* List styling */
.mat-list {
    flex-grow: 1;
    /* border: 3px solid green; */
    overflow: auto;
}

.mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

/* Options styling */
.option_heading {
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.option {
    /* margin: 10px; */
    background: white;
}

#options_area_wrapper {
    background: white;
    margin: 10px;
    padding: 10px;
}

#plot_button {
    width: 160px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#seed_output {
    margin: 10px;
}

#export_seed {
    margin: 10px;
}

#export_seed p {
    overflow-wrap: break-word;
}

mat-form-field {
    background-color: white;
    padding-left: 10px;
}

.search_area_button {
    background: white;
    border: none;
}

.search_area_button:hover {
    font-size: 1.01em;
}

/* Under area */
#under_area {
    background: white;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    padding: 5px;
}

#under_area .mat-expansion-panel {
    background: #3F51B5;
}

#under_area .mat-expansion-panel-header-title {
    color: white;
    font-weight: bold;
}

/* import and export area */
#import_export_area {
    margin: auto;
    margin-bottom: 50px;
    width: 100%;
}

#import_export_textarea {
    width: 100%;
    height: 100px;
    margin: auto;
    vertical-align: middle;
    resize: none;
}

.import_export_button {
    background: white;
    padding: 20px;
}

/* analyser area */
#analyser_area {
    margin: auto;
    margin-bottom: 50px;
    width: 95%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #3F51B5;
}

#analyser_button {
    height: 10px;
}

.analyser_item {
    width: 98%;
    margin: auto;
    margin-bottom: 0px;
    background: white;
    padding: 10px;
}


/* mat-tab area */
.mat-tab-body-wrapper{
    height: 100%;
    min-height: 90%;
}

.mat-tab-group{
    height: 100%;
    min-height: 100%;
}

.delete-tab-button {
    background: #3F51B5;
    border: none;
    margin-left: 10px;
    min-width: 0px;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #E91E63;
    height: 3px;
}

.mat-tab-label {
    color: white;
    min-width: 0px !important;
}

.mat-tab-label-active {
    opacity: 1;
}

.mat-raised-button {
    margin-left: 10px;
    min-width: 0px;
}

/* Time slide */
#time_slider {
    width: 800px;
}

.mat-raised-button.mat-primary {
    margin-left: 20px;
}

