body {
    background-color: #6E459D;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Main */
#main_area {
    display: flex;
}
  
.main_area_item {
    border: 1px solid lightgray;
    background-color: #7029C0;
}
  
#results_area, #options_area {
    width: 20%;
    margin: 20px;
}

/* Graph related */
#graph_area {
    width: 70%;
    height: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
#mynetwork {
    margin: auto;
    width: auto;
    height: 100%;
    background-color: white;
}

/* Search related */
#search_area {
    text-align: center;
}
  
#search_bar {
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    border-radius: 30px;
    display: inline-block;
    background-color: white;
    margin: 10px auto;
}
  
#search_bar_input {
    width: 700px;
    border: none;
    margin-left: 10px;
}

/* Navigation bar */
#nav_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7029C0;
    border-bottom: 0.1px solid white;
}
  
#nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}
  
#nav_bar li {
    list-style-type: none;
    align-content: center;
    display: inline-block;
}
  
#nav_bar li a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}
  
#title {
    color: white;
    padding-left: 20px;
    margin: 10px;
}

/* Result area */
#results {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

#filter_area {
    background-color: white;
    margin: 10px;
    padding: 10px;
    padding-top: 3px;
}

.results_item {
    overflow: scroll;
}

.result_item_group {
    background: white;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.result_item_group:hover {
    font-size: 1.2em;
}

.result_item_item {
    background: white;
    border: none;
    font-family: 'Ubuntu', sans-serif;
}

.result_item_item:hover {
    font-weight: bold;
}

/* List styling */
mat-list {
    flex-grow: 1;
    /* border: 3px solid green; */
    overflow: auto;
}

/* Options styling */
.option_heading {
    color: black;
    padding-left: 10px;
    padding-top: 10px;
}

.option {
    margin: 10px;
    background: white;
}

mat-form-field {
    background-color: white;
    padding-left: 10px;
}
